
//COLORS
$color-primary: #752F36;
$color-primary-light: #736568;
$color-primary-dark: #000f01;

$color-secondary-light: #58DDAF;
$color-secondary-dark: #606778;

$color-grey-light-1: #f0f0f0;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-button-primary: #58DDAF;
$color-button-secondary: #606778;


//FONT
$default-font-size: 1.9rem;
$font-size-small: 1.5rem;
$font-size-large: 2.7rem;
$font-size-quote-large: 3rem;
$font-size-quote-small: 2.5rem;

$font-primary: Joesfin Slab;
$font-secondary: Raleway;
$font-tertiary: Inter UI;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//BOX-SHADOW
$box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

//BORDER-RADIUS
$border-radius: 3px;