.footer {
		background-color: $color-secondary-dark;
		height: 7rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;

	&--menu {
		display: flex;
		margin: 3rem;
		list-style: none;
	
			&__item {
				font-size: $font-size-small;
				color: $color-grey-light-1;
				margin-right: 2.5rem;
			}
	}
	
	&--social {
		display: flex;
		justify-content: flex-start;
		margin-left: auto;
		list-style: none;

		&__icon {
			margin-right: auto;
			height: 3rem;
			width: 3rem;
			margin-right: 3rem;
		}
	}
}