.menu {
	display: flex;
	justify-content: flex-end;
	// align-items: center;

	&--logo {	
		height: 20%;
		width: 20%;
		margin-right: auto;
		padding: 2.4rem 8rem 0 0;
	}

	&--menu {
		padding: 4.4rem 8rem 0 0;
		
		// font-family: Lato;
		font-family: Helvetica;
		font-size: 1.3rem;	
	}

}