body {
	font-family: 'Open Sans';
	font-family: Helvetica;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.9;
	color: $color-grey-light-1;
}

a {
	color: $color-grey-light-2;
	text-decoration: none;
	padding: 1.6rem;
	//sup with visited, active, etc
}





